/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.App{
background: rgb(2,0,36);
background: linear-gradient(90deg, rgb(175, 174, 211) 0%, rgba(69,5,80,1) 10%, rgba(8,106,44,1) 19%, rgba(69,9,121,1) 24%, rgba(8,98,129,1) 39%, rgba(131,154,7,1) 51%, rgba(107,168,6,1) 58%, rgba(174,42,100,1) 77%, rgba(0,212,255,1) 100%);}